@import "mixin/main";

@include main;

  form{
    text-align: center;
    margin-top: 50px;


    .form__input--padding{
      padding: .3em 1em;

      @include phone{
        height: 40px;
        width: 100px;
        font-size: 12px;
      }
    }

    #btn-submit{
      background: $color-verde;

      &:hover{
        background: $color-verde-oscuro;
        color: $color-blanco;
      }
    }

    #btn-reset{
      background: rgb(187, 187, 187);

      &:hover{
        background: rgb(143, 143, 143);
        color: $color-blanco;
      }

      
    }

    .datos{
      @include phone{
        width: 250px;
      }
    }
    
      #msg{
        width: 550px;
        height: 200px;                
      
        @include phone{
          width: 250px;
          height: 200px;
        }
      }


}

